@(userform: Form[User])(implicit messages: Messages)

@import helper._

@main("Create User") {
  <h1>Create User</h1>
  @form(routes.AuthController.insertUser) {
    <fieldset>       
      @inputText(userform("email"), '_label -> "email")
      @inputText(userform("name"), '_label -> "name")
      @inputText(userform("password"), '_label -> "password")
    </fieldset>        
    <div class="actions">
      <input type="submit" value="Create this computer" class="btn primary">
    </div>
  }
}
